# --- NÚCLEO WEB ---
flask
flask-socketio
python-socketio
python-engineio
python-dotenv

# --- INTELIGÊNCIA ARTIFICIAL (LIBERADA) ---
# Deixamos sem versão para ele pegar o conjunto compatível mais recente
langchain
langchain-community
langchain-core
langchain-google-genai
langchain-ollama
langchain-chroma
google-generativeai
google-api-core
google-auth

# --- BANCO DE DADOS (TRAVA DE SEGURANÇA) ---
# O ChromaDB precisa do Numpy antigo no Windows, isso é OBRIGATÓRIO.
numpy<2.0.0
chromadb

# --- UTILITÁRIOS ---
pymupdf
AppOpener
streamlit

#para deixar o argus autônomo
APScheduler==3.10.4
mediapipe==0.10.9
opencv-python==4.9.0.80
screeninfo==0.8.1
pyautogui==0.9.54


#par deixar o argus falante
soundfile 
sounddevice 
kokoro>=0.9.4 
numpy 
scipy 
torch

#para fazer o argus ouvir...
faster-whisper
SpeechRecognition
pyaudio


pypdf
langchain-community
sentence-transformers
chromadb
langchain-huggingface
langchain-chroma
langchain-openai